<div class="container">
    <div class="contenedor-details">
        <div class="info-trip">
            <div class="row cabecera">
                <span class="img-airline"><img src="assets/sky.png"></span>
                <span class="name-airline">Viva Air</span>
                <span class="type-plane">dfsdfsdfdsf</span>
            </div>
            <div class="info-body row">
                <div class="info-departure col-sm-3">
                    <span class="time-trip">Jue 13 Jun</span><br>
                    <span class="hour-trip">19:55</span><br>
                    <span class="code-city">LIM</span><br>
                    <span class="city">Lima</span><br>
                    <span class="name-airport">Aereopuerto Internacional Jorge Chavez</span>
                </div>
                <div class="info-duracion col-sm-3">
                    <span>Duracion</span><br>
                    <span>12h 25m</span><br>
                    <span>Clase:</span>
                    <span>Economica</span>
                </div>
                <div class="info-arrival col-sm-3">
                    <span class="time-trip">Jue 13 Jun</span><br>
                    <span class="hour-trip">19:55</span><br>
                    <span class="code-city">LIM</span><br>
                    <span class="city">Lima</span><br>
                    <span class="name-airport">Aereopuerto Internacional Jorge Chavez</span>
                </div>

            </div>
        </div>
        <div class="duracion">
            <div class="tiempo">
                <span class="time-total">Duracion Total</span>
                <span class="hours-total">1h 44m</span>
            </div>
        </div>
        <div class="equipaje">
            <div class="title-equipaje">
                Equipaje
            </div>
            <div class="descripcion-equipaje">
                <div>
                    <span class="img-bag"><img src="assets/maleta.png"></span>
                    <span>Incluye equipaje de mano</span>
                </div>
                <div>
                    <span class="img-bag"><img src="assets/equipaje.png"></span>
                    <span>No incluye equipaje para despachar</span>
                </div>
            </div>
            <div class="detalle-equipaje">
                En el aereopuerto podras sumar tu equipaje por un cargo extra
            </div>
        </div>
    </div>
</div>