<div class="container mt-5">
    <h4 class="text-right">BUSQUEDA - HOTELES</h4>
    <ul class="row mt-5">
        <li class="opciones">
            <img style="width: 40px;" src="assets/user.png"> Pasajero
        </li>
        <li class="opciones">
            <img style="width: 40px;" src="assets/hotel.png"> Busqueda
        </li>
        <li class="opciones">
            <img style="width: 40px;" src="assets/book.png"> Reserva
        </li>
    </ul>
    <div class="contenedor-buscador">
        <h6>Busqueda de Hoteles</h6>



        <div class="body-form" *ngIf="busqueda">
            <div class="form-group row mt-4">
                <label for="" class="col-sm-1 col-form-label">Destino: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" [value]="codeCity" (click)="showDivAirport(1,1)" [(ngModel)]="CodeObj.namecity" (keyup)="filterAirport(1,1)" id="txtdestino">
                    <input type="text" [(ngModel)]="SearchObj.HotelCityCode" *ngIf="inputof">
                    <app-airport [listado]="MatrizAirport2" (texto1)="eventoHijoPadre($event)"></app-airport>
                    <!--
                    <div id="dvAirportOrigin_1" class="options selectAirport" style="display:none"></div>
                    -->
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="" class="col-sm-1 col-form-label">Hotel: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="txthotel">
                </div>
            </div>
            <div class="form-inline mt-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-In: </label>
                    <div class="">
                        <input type="date" class="form-control mx-sm-4" [(ngModel)]="SearchObj.Start">
                        <!--
                      <input id="txtDateCheckIn" [(ngModel)]="dateCheckIn" type="text" class="form-control" #datepicker1="bsDatepicker" bsDatepicker (onHidden)="fechaMinima(datepicker2);" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: true }">

                        <input id="txtDateCheckOut" [(ngModel)]="dateCheckOut" type="text" class="form-control" #datepicker2="bsDatepicker" bsDatepicker [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" [isOpen]="isOpen">
                    -->
                    </div>
                </div>

                <div class="form-group ml-5">
                    <label for="" class="col-form-label">Check-Out: </label>
                    <div class="">
                        <input type="date" class="form-control mx-sm-4" [(ngModel)]="SearchObj.End">
                    </div>
                </div>
                <div class="form-group ml-5">
                    <label for="" class="col-form-label">Nro Noches: </label>
                    <div class="ml-3">
                        <label for="">2</label>
                    </div>
                </div>
            </div>
            <div class="form-group row mt-4">

                <label for="" class="col-sm-1 col-form-label">Habitaciones: </label>
                <div class="col-sm-2">
                    <div class="input-habitacion tooltipBag">
                        <div class="nro-habitacion">
                            <i class="fas fa-bed"></i>
                            <input type="text" class="input-text" [(ngModel)]="SearchObj.cantidadh">
                        </div>
                        <div class="nro-personas">
                            <i class="fas fa-user-alt"></i>
                            <input type="text" class="input-text" [(ngModel)]="SearchObj.cantidadp">
                        </div>
                    </div>
                    <!-- <input type="text" class="form-control tooltipBag" onclick="MostrarModal()" id="txthabitacion" [(ngModel)]="SearchObj.cantidadh"> -->
                    <div class="modal-info tooltipBagDiv" id="pop1" style="display: none;">
                        <div id="habitacion_1">
                            <div id="seccion_habitacion">
                                <div class="title-room">
                                    <span>Habitacion 1</span>
                                </div>
                                <hr>
                                <div class="number-adults">
                                    <span>Adultos</span>
                                    <div class="input-group number-spinner">
                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" data-dir="dwn"><i class="fas fa-minus"></i></button>
                                                        </span>
                                        <input type="text" class="form-control text-center" value="1" disabled id="txtadultos">
                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" data-dir="up"><i class="fas fa-plus"></i></button>
                                                        </span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div id="habitacion_2"></div>
                        <div id="options_1">
                            <div class="btn-agregar" id="divbotones_1" style="display: block;">
                                <button class="text-btn" onclick="AddHabitaciones(1)">Añadir habitacion</button>
                                <button class="btn btn-danger añadir" onclick="OcultarModal()">Aplicar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <label for="" class="col-sm-2 col-form-label" style="margin-left: 150px; display: block;">Cercania al Aereopuerto: </label>
                <div class="col-sm-2">
                    <select name="" id="" class="form-control">
                      <option value="1">20 km</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                </div>-->
            </div>

            <div class="form-group row mt-4">
                <label for="" class="col-sm-1 col-form-label">Estrellas </label>
                <div class="col-sm-2">
                    <select name="" id="" class="form-control">
                        <option [(ngModel)]="SearchObj.SegmentCategoryCode" *ngFor="let item of estrella">{{item.descripcion}}</option>
                      </select>
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="" class="col-sm-1 col-form-label">Filtro por precio </label>
                <div class="precio">
                    <p>Precio: <span id="demo"></span></p>
                </div>
                <input type="range" min="1" max="100" value="50" class="col-3 slider" id="myRange">
            </div>
            <div class="form-group mt-5">
                <button class="btn btn-success col-2" (click)="SearchHotel()">Buscar</button>
            </div>
            <img src="assets/desplegar.png" class="img-desplegar" (click)="ocultarResultados()">
        </div>
    </div>



    <div class="resultados-hoteles" *ngIf="mostrar">
        <div class="filter-order">
            <div class="form-inline">
                <label for="">ORDENAR POR</label>
                <select name="" id="" class="form-control ml-4">
                   <option value="">Precio: menor a mayor</option>
                   <option value="">Precio: mayor a menor</option>
                   <option value="">Estrellas: mayor a menor</option>
                   <option value="">Estrellas: menor a mayor</option>
               </select>
            </div>
            <div class="form-inline ml-5">
                <label for="">MONEDA</label>
                <select name="" id="" class="form-control ml-4">
                       <option value="">Nuevo Sol</option>
                       <option value="">Dolar</option>
                   </select>
            </div>
        </div>
        <div class="filtros-resultados">
            <ul class="filtro-estrellas">
                <li><span class="title-filtro">Estrellas</span></li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter">Todas las estrellas</span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter"><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter"><i class="fas fa-star"></i></span>
                    </span>
                </li>
            </ul>

            <ul class="filtro-servicios">
                <li><span class="title-filtro">Servicios</span></li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter">Todas los servicios</span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter">Wifi</span>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox">
                        <span class="item-filter">Desayuno</span>
                    </span>
                </li>
            </ul>

            <ul class="filtro-precio">
                <li><span class="title-filtro">Precio</span></li>
                <li>
                    <span>
                        <input type="range" min="0" max="50"/>
                    </span>
                </li>
            </ul>
        </div>

        <app-hotelhijo [listado]="results"></app-hotelhijo>

    </div>


    <div class="contenedor-detalle_room" *ngIf="estado">
        <div>
            <span class="btn-galeria">
                        <button class="btn btn-light">Ver Galeria</button>
                    </span>
            <div class="motel-gallery">
                <img src="assets/motel.jpg" class="img1">
                <img src="assets/motel.jpg" class="img2">
                <img src="assets/motel.jpg" class="img3">
                <img src="assets/motel.jpg" class="img4">
            </div>
            <div class="info-hotel-cabecera">
                <span class="title-hotel">Grand Hyatt New York</span>
                <span class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
            </div>
            <div class="location-hotel">
                <span>Nueva York, Estados Unidos.   </span>
                <span>A 1,01 km del centro</span>
                <span class="ml-3"><img src="assets/map.png" class="icon-map1"></span><span>Mapa</span>
            </div>
            <div class="services-hotel">
                <span class="item-wifi"><i class="fas fa-wifi"></i></span>
                <span>WIFI gratis</span>
                <span class="item-gimnasio"><i class="fas fa-dumbbell"></i></span>
                <span>Gimnasio</span>
                <span class="item-spa"><i class="fas fa-sleigh"></i></span>
                <span>Spa</span>
            </div>
        </div>




        <div class="seccion-habitacion">
            <div class="detalle-servicios">
                <span class="item1">Nombre: </span>
                <span class="item2">Standard Twin + Breakfast</span>
                <span class="item3">Standard</span>
                <span class="item4">2 adultos</span>
                <div class="des-check">
                    <div>
                        <span>Check-In: </span><span>15:00 pm</span>
                    </div>
                    <div>
                        <span>Check-Out: </span><span>11:00 am</span>
                    </div>
                </div>
                <div class="servicios">
                    <div>
                        <span>Desayuno Buffet</span>
                    </div>
                    <div>
                        <span>No se puede cancelar 72 horas antes</span>
                    </div>
                </div>
                <div class="items-services">
                    <ul class="list-services">
                        <li><i class="fas fa-wifi"></i><span class="service">Wifi</span></li>
                        <li><i class="fas fa-coffee"></i><span class="service">Desayuno</span></li>
                        <li><i class="fas fa-bicycle"></i><span class="service">Bicicleta</span></li>
                    </ul>
                </div>
                <div class="table-precios">
                    <table class="table table-bordered" style="width: 350px;">
                        <thead>
                            <tr>
                                <th>19/JUN</th>
                                <th>20/JUN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>$95.49</td>
                                <td>$95.49</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="contenedor-tarifa">
                <div class="price-total">
                    <span>Tarifa Total</span>
                    <span>  $190.98</span>
                </div>
                <div class="descripcion-promedio">
                    <span>Precio Promedio</span>
                </div>
                <div class="precio-promedio">
                    <span class="img-convenio"><img src="assets/circulo-verde.png"></span>
                    <span>$120.33</span>
                </div>
                <div>
                    <button class="btn btn-danger">Reservar</button>
                </div>
            </div>
        </div>

    </div>

</div>