.contenedor-details {
    width: 700px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    padding: 10PX;
    border-radius: 15px;
    margin-left: -11px;
}

.info-trip {
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
}

.type-plane {
    position: relative;
    left: 430px;
    top: 2px;
}

.time-trip {
    width: 60px;
}

.hour-trip {
    font-size: 30px;
    font-weight: bold;
}

.img-airline img {
    width: 50px;
}

.name-airline {
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 2px;
}

.info-body {
    margin-top: 23px;
    height: auto;
}

.info-departure {
    text-align: center;
}

.name-airport {
    text-align: center;
}

.info-duracion {
    margin-left: 70px;
    text-align: center;
    margin-top: 40px;
}

.info-arrival {
    margin-left: 80px;
    text-align: center;
}

.duracion {
    margin-top: 15px;
    border: 1px solid #000000;
    height: auto;
    padding: 15px;
    border-radius: 20px;
}

.tiempo {
    text-align: center
}

.equipaje {
    margin-top: 15px;
    border: 1px solid #000000;
    height: auto;
    padding: 15px;
    border-radius: 20px;
}

.hours-total {
    margin-left: 10px;
    font-weight: bold;
}

.title-equipaje {
    float: left;
}

.descripcion-equipaje {
    display: block;
    float: right;
}

.detalle-equipaje {
    margin-top: 90px;
    text-align: center;
}

.img-bag {
    margin-right: 10px;
}

.img-bag img {
    width: 30px;
}