<div class="resultados-busqueda row" *ngFor="let item of listado">
    <div class="col-sm-4">
        <img src="assets/motel.jpg" class="img-hotel">
    </div>
    <div class="detalle-hotel col-sm-4">
        <span class="name-hotel">{{item.hotelName}}</span><br>
        <span><img src="assets/map.png" class="icon-map"></span><span>Mapa</span>
        <span class="name-street">{{item.AddressLine}}</span><br>
        <span class="description-hotel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem laborum quaerat dolor necessitatibus voluptate, ut minus, est ea nobis ducimus odio iusto dolore in laudantium inventore rerum, exercitationem blanditiis non!</span><br>
        <div [ngSwitch]="item.HotelSegmentCategoryCode ">
            <span class="number-star">
                        <i class="fas fa-star fa-1x"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </span><br>
        </div>
        <div class="description-distance">
            <span style="display: none;">2.2 km al centro de la ciudad</span><br>
            <span>{{item.Distance}} km aproximado al aereopuerto</span>
        </div>
    </div>
    <div class="detalle-tarifa col-sm-4">
        <div class="tarifa-convenio">
            <span class="img-convenio1">
                <img src="assets/circulo.png">
            </span>
            <span>USD </span>
            <span>{{item.LBeRoomStay | menorPrecioHotel}}</span>
        </div>
        <div class="tarifa-total">
            <span>Tarifa total: </span><span>USD </span><span>148.30</span>
        </div>
        <div class="politicas">
            <span>Ver politicas incumplidas</span>
        </div>
        <button class="btn btn-danger btn-select">Seleccionar</button>
    </div>
</div>